body /*general*/
{
    font-family: 'Raleway', sans-serif;
}

div i{
    color: #0065FC;
}

span i{
    color: #F2F2F2;
}

/*header*/

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 30px 50px;
}

.logo-header{
    padding-left: 23px;
}

nav{
    display: flex;
    padding-top: 20px;
    padding-left: 200px;
}

.text-header{
    text-decoration: none;
    margin: 0 40px 0 0;
    padding: 0 20px 0 20px;
    font-size: 1.1em;
    color: black;
}

header div a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 60px;
}

.couleur{
    color: #0065FC;
}

/*TITRE*/

.section-titre-recherche-filtres{
    padding: 20px;
    margin-left: 50px;
}

/*RECHERCHE*/

.recherche{
    display: flex;
    align-items: center;
}

.conteneur-icone{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color{
    color: black;
    font-size: 1.2em;
}

.conteneur-texte{
    height: 44px;
    font-size: 1.2em;
}

.conteneur-recherche{
    transition: 0.5s;
    height: 50px;
    width: 10%;
    border-radius: 0 10px 10px 0;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #0065FC;
}

.conteneur-recherche:hover{
    cursor: pointer;
}

.recherche{
    display: flex;
    color: white;
}

/*FILTRES*/

.conteneur-filtres{
    display: flex;
    align-items: center;
}

.filtres{
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin: 20px;
}

.filtres:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.position1{
    width: 52px;
    height: 52px;
    border-radius: 30px;
    color: #0065fc;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position2{
    margin-right: 15px;
    margin-left: 15px; 
    font-weight: bold;
    font-size: 1.0em;
}

/*INFO*/

.conteneur-info{
    display: flex;
    align-items: center;
}

.position3{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

/*HEBERGEMENT A MARSEILLE*/

.section-herbergements{
    padding: 0 0 0 30px;
    width: 95%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc3{
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    width: 65%;
}

.hebergement-marseille{
    flex-wrap: wrap;
}

.p-titre{
    margin: 0 0 30px 40px;
}

.p-titre2{
    margin: 30px 0 0 40px;
}

h2{
    margin: 0;
}

.placement-hebergements{
    margin: 30px 30px 30px 30px;
    background-color: white;
    height: 210px;
    transition: 0.5s;
    padding: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
}

.placement-hebergements:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.photos1{
    border-radius: 20px 20px 0 0;
    width: 240px;
    height: 120px;
    object-fit: cover;
}

.hebergement-marseille{
    display: flex;
}

h3{
    margin: 0;
}

article p{
    margin: 0;
}

.position-etoiles2{
    padding-top: 20px;
}



/*HEBERGEMENT POPULAIRE*/

.bloc4{
    width: 25%;
    background-color: #F2F2F2;
    padding-left: 40px;
    border-radius: 20px 20px 20px 20px;
}

.photos2{
    border-radius: 20px 0 0 20px;
    width: 140px;
    height: 130px;
    object-fit: cover;
}

.position-populaires{
    display: flex;
    transition: 0.5s;
    margin: 0 0 40px 0px;
    padding: 5px 5px 5px 5px;
    width: 320px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.position-populaires:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.position-titre{
    align-items: center;
    display: flex;
    margin: 30px 0 30px 0;
}

.position-logo{
    margin-left: 70px;
    font-size: 1.5em;
}

.position-contenu{
    margin: 0 0 0 20px;
}

div h4{
    margin: 0;
}

.position-etoiles{
    padding: 30px 0 0 0;
    width: 110px;
}

/*ACTIVITES*/

.position-activites{
    padding-top: 50px;
}
.p-activites{
    margin: 0 0 30px 70px;
}

.placement-activites{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.position-photos{
    transition: 0.5s;
    margin: 0 30px 30px 30px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #F2F2F2;
}

.position-photos:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.position-photos2{
    margin: 0 30px 0 30px;
    border-radius: 20px 20px 20px 20px;
}

.separation:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.separation{
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 30px 0;
    background-color: white;
    border: 1px solid #F2F2F2;
    transition: 0.5s;
}

.photos-activites{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.photos-activites2{
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 1px solid #F2F2F2;
}

.photos-activites3{
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 1px solid #F2F2F2;
}

.photos-activites4{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 1px solid #F2F2F2;
}


.ecart{
    padding: 10px 0 0 20px;
    margin-bottom: 15px;
}

/*FOOTER*/

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: #F2F2F2;
}

footer div{
    margin: 30px 250px 0 30px;
}

/*RESPONSIVE telephone*/

@media screen and (max-width: 375px) {
    
    .section-herbergements {
        padding: 0;
        width: 100%;
    }
    .bloc3 {
        width: 100%;
    }
    .hebergement-marseille {
        width: 97%;
    }
    .placement-hebergements {
        width: 96%;
        margin: 0;
    }
    .photos1 {
        width: 95%;
        
    }


   
    
    
    



    






