/*general*/
body {  
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

div i{
    color: #0065FC;
}

span i{
    color: #F2F2F2;
}

/*header*/

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo-header {
    margin: 30px 0 0 60px
}

header nav {
    width: 87%;
    display: flex;
    justify-content: flex-end;
}

.nav1 {
    text-decoration: none;
    padding: 70px 30px 0 50px
}

.nav2 {
    text-decoration: none;
    padding: 70px 30px 0 50px
}

.nav3 {
    font-weight: bold;
    text-decoration: none;
    padding: 70px 30px 0 50px
}

header a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.nav1{
    color: black;
}
.nav2{
    color: black;
}

.nav3{
    color: #0065FC;
}

/*TITRE*/

.section-titre-recherche-filtres{
    padding: 20px;
    margin-left: 40px;
}

/*RECHERCHE*/

.recherche{
    display: flex;
    align-items: center;
    color: white;
}

.conteneur-icone{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color{
    color: black;
    font-size: 1.2em;
}

.conteneur-texte{
    height: 44px;
    font-size: 1.2em;
}

.conteneur-recherche{
    transition: 0.5s;
    height: 50px;
    width: 140px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #0065FC;
}

.conteneur-recherche:hover{
    cursor: pointer;
}

/*FILTRES*/

.conteneur-filtres{
    display: flex;
    align-items: center;
}

.bloc-filtres {
    display: flex;
}

.bloc-filtres2 {
    display: flex;
}

.filtres{
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 30px 30px;
    margin: 20px;
    box-shadow: 1px 1px 5px grey;
}

.filtres:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.position1{
    width: 52px;
    height: 52px;
    border-radius: 30px;
    color: #0065fc;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position2{
    margin-right: 15px;
    margin-left: 15px; 
    font-weight: bold;
    font-size: 1.0em;
}

/*INFO*/

.conteneur-info{
    display: flex;
    align-items: center;
}

.position3{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

/*HEBERGEMENT A MARSEILLE*/

.section-herbergements{
    padding: 0 0 0 30px;
    width: 95%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc3{
    border-radius: 20px 20px 20px 20px;
    background-color: #F2F2F2;
    width: 62%;
}

.hebergement-marseille{
    flex-wrap: wrap;
}

.p-titre{
    margin: 0 0 30px 30px;
}

.p-titre2{
    margin: 30px 0 0 27px;
}

h2{
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.placement-hebergements{
    margin: 15px;
    background-color: white;
    height: 210px;
    transition: 0.5s;
    padding: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px grey;
}

.placement-hebergements:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.photos1{
    border-radius: 20px 20px 0 0;
    width: 240px;
    height: 120px;
    object-fit: cover;
}

.hebergement-marseille{
    display: flex;
}

h3{
    margin: 0 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.1em;
}

article p{
    margin: 0;
}

.position-etoiles2{
    padding-top: 20px;
}



/*HEBERGEMENT POPULAIRE*/

.bloc4{
    width: 364px;
    background-color: #F2F2F2;
    padding-left: 30px;
    border-radius: 20px 20px 20px 20px;
}

.photos2{
    border-radius: 20px 0 0 20px;
    width: 140px;
    height: 130px;
    object-fit: cover;
}

.position-populaires{
    display: flex;
    transition: 0.5s;
    margin: 0 0 40px 0px;
    padding: 5px 5px 2px 5px;
    width: 320px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}

.position-populaires:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.position-titre{
    font-size: 1.1em;
    align-items: center;
    display: flex;
    margin: 30px 0 30px 0
}

.position-logo{
    margin-left: 115px;
    font-size: 1.5em;
}

.position-contenu{
    margin: 0 0 0 20px;
}

div h4{
    margin: 0;
}

.position-etoiles{
    padding: 30px 0 0 0;
    width: 110px;
}

/*ACTIVITES*/

.position-activites{
    padding-top: 50px;
}
.p-activites{
    margin: 0 0 30px 70px;
}

.placement-activites{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.position-photos{
    transition: 0.5s;
    margin: 0 30px 30px 30px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 5px grey;
}

.position-photos:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.position-photos2{
    margin: 0 15px 0 15px;
    border-radius: 20px 20px 20px 20px;
}

.separation:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.separation{
    border-radius: 20px 20px 20px 20px;
    margin: 0 0 30px 0;
    box-shadow: 1px 1px 5px grey;
    background-color: white;
    transition: 0.5s;
}

.photos-activites{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.photos-activites2{
    width: 300px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.photos-activites3{
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.photos-activites4{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.ecart{
    padding: 10px 0 10px 20px;
}

/*FOOTER*/

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: #F2F2F2;
}

footer div{
    margin: 30px 250px 0 30px;
}

footer p:hover {
    cursor: pointer;
}

/*RESPONSIVE DESKTOP*/
@media all and (max-width:1600px) {
    .recherche2 {
        display: none;
    }
}

/*RESPONSIVE TABLETTES*/

@media all and (min-width:600px) and (max-width:1280px) {
    .logo-header {
        margin-left: 50px;
    }
    .recherche2 {
        display: none;
    }
    .bloc4 {
        min-width: 100%;
        padding: 0;
        background-color: white;
    }
    .position-populaires {
        width: 90%;
        margin: 15px auto;
        box-shadow: 1px 1px 5px grey;
    }
    .photos2 {
        width: 220px;
        height: 150px;
    }
    .position-titre {
        justify-content: space-between;
        margin-bottom: 10px;
        width: 95%;
    }
    .titre-populaires {
        margin-left: 5%;
    }
    .position-logo {
        margin-left: 73%;
    }
    .section-herbergements {
        flex-direction: column-reverse;
    }
    .p-titre {
        margin: 30px 0 30px 45px;
    }
    .conteneur-filtres {
        flex-wrap: wrap;
    }
    header nav {
        justify-content: space-around;
        width: 100%;
    }
    .conteneur-recherche {
        width: 15%;
    }
    .bloc-filtres2 {
        margin-left: 9%;
    }
    .bloc3 {
        width: 100%;
        background-color: white;
    }
    .p-activites {
        margin-left: 44px;
    }
    .hebergement-marseille {
        justify-content: center;
    }
    .p-titre2 {
        margin-left: 6%;
    }
    .placement-hebergements {
        width: 90%;
        height: 250px;
        margin: 15px 0 0 0;
        box-shadow: 1px 1px 5px grey;
    }
    .photos1 {
        width: 100%;
        height: 150px;
    }
    .section-herbergements {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .placement-activites {
        margin-left: 20px;
    }
    .position-activites {
        padding: 0;
    }
    .separation {
        box-shadow: 1px 1px 5px grey;
    }
    .position-photos {
        box-shadow: 1px 1px 5px grey;
    }
    .photos-activites2 {
        border: none;
    }
    .photos-activites3 {
        border: none;
    }
    .photos-activites4 {
        border: none;
    }
    footer div {
        margin: 30px 44px 0 30px;
    }
    
}

/*RESPONSIVE TELEPHONES*/

@media screen and (max-width: 600px) {
    /*header*/

    header {
        display: flex;
        padding-left: 0%;
    }
    .logo-header {
        min-width: 115px;
        margin: 50px 0 0 30px;
    }
    header nav {
        padding-left: 0;
        border: none;
        width: 100%;
        justify-content: space-evenly;
    }
    header a:hover{
        color: black;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .nav1 {
        padding: 20px 40px 0 40px;
        height: 20px;
        margin-bottom: 20px;
    }
    .nav2 {
        padding: 20px 45px 0 40px;
        height: 20px;
    }
    .nav3 {
       position: absolute;
       right: 2px;
       top: 2px; 
       padding: 70px 20px 0 20px;
    }
    .conteneur-recherche {
        display: flex;
        align-items: center;
        color: white;
        display: none;
    }
    .recherche2 {
        display: inline;
        color: white;
        
    }
    .conteneur-recherche2 {
        color: white;
        height: 50px;
        width: 12%;
        border-radius: 15px;
        text-align: center;
        background-color: #0065FC;
        line-height: 50px;
        position: relative;
        right: 13px;
    }

    /*titre, recherche,filtres,info*/

    section h1 {
       margin: 0;
    }
    .conteneur-filtres {
        flex-direction: column;
    }
    .titre-filtres {
        width: 100%;
        margin: 30px 0 0 10px;
    }
    .filtres {
        margin: 15px 10px 8px 0;
    }
    .bloc-filtres2 {
        flex-wrap: wrap;
    }
    
    .position2 {
        font-size: 1.0em;
    }
    
    .section-titre-recherche-filtres {
        margin: 0 0 0 10px;
        padding: 0;
    }
    .position3 {
        width: 40px;
        height: 30px;
    }
    
    /*Les plus populaires, Hébergements à Marseille*/
    .bloc4 {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
    .position-populaires {
        width: 88%;
        margin-left: 4%;
        box-shadow: 1px 1px 5px grey;
    }
    .position-logo{
        margin-left: 115px;
        font-size: 1.5em;
    }
    .position-titre {
        padding-left: 15px;
    }
    
    .section-herbergements {
        padding: 0;
        width: 100%;
        flex-direction: column-reverse;
    }
    .p-titre{
        margin: 20px 0 30px 25px;
    }
    .p-titre2 {
        margin-left: 20px;
        font-size: 1.1em;
    }
    .bloc3, .hebergement-marseille {
        width: 100%;
        border-radius: 0;
        background-color: white;
    }
    
    .placement-hebergements {
        width: 88%;
        margin: 20px 0 10px 17px;
        box-shadow: 1px 1px 5px grey;
    }
    .photos1 {
        width: 100%;
    }

    .placement-activites {
        margin: 0;
    }
    .position-photos {
        width: 100%;
        margin: 0 15px 20px 15px;
        box-shadow: 1px 1px 5px grey;
        border: none;
    }

    /*Activités à Marseille*/
    .p-activites {
        margin-left: 25px;
    }
    .position-activites {
        padding-top: 10px;
    }
    .photos-activites {
        height: 140px;
        width: 100%;
    }
    .photos-activites4 {
        width: 100%;
        height: 140px;
        border: none;
    }
    .photos-activites3 {
        width: 100%;
        height: 140px;
        border: none;
    }
    .photos-activites2 {
        border: none;
        width: 100%;
        height: 140px;
    }
    .position-photos2 { 
        width: 100%;
        margin: 0 0 20px 0px;
    }
    .separation {
        margin: 0 15px 20px 15px;
        box-shadow: 1px 1px 5px grey;
        border: none;
        height: 188px;
    }
    /*footer*/
    .footer {
        height: auto;
    }
    footer div {
        margin-right: 20px;
    }






}
    
    
    

   
    
    
    



    






